.canvasContainer {
  flex: 0 1 100%;
  position: relative;
}

.canvasContainer canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@media screen and (max-width: 960px) {
  .canvasContainer {
    flex: 0 0 40svh;
  }
}